[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "FoldingAtHomeControl"
dist-name = "PyFoldingAtHomeControl"
author = "eifinger"
author-email = "k.eifinger@googlemail.com"
home-page = "http://github.com/eifinger/PyFoldingAtHomeControl"
classifiers = [
        "Intended Audience :: Developers",
        "Operating System :: OS Independent",
        "Programming Language :: Python",
        "Programming Language :: Python :: 3",
        "Topic :: Software Development :: Libraries :: Python Modules",
        "License :: OSI Approved :: MIT License"
    ]
requires = []
requires-python=">=3.6"
description-file="README.md"

[tool.flit.metadata.requires-extra]
test = [
    "pytest >= 5.2.2",
    "pytest-cov >= 2.8.1",
    "pytest-asyncio",
    "pylint",
    "tox",
    "pytest-mock",
    "codecov",
    "flake8",
    "mypy",
    "pre-commit",
    "black"
]
